.input{
  display: flex;
  border-radius: 1rem;
  padding: 1rem;
}

.input Button, .in{
  margin-left: .5rem;
  display: none;
}

.in:nth-child(1){
  width: 15rem;
}

.in:nth-child(2){
  width: 15rem;
}

.in:nth-child(3){
  width: 25rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonBlock{
  display: flex;
  margin-bottom: 1rem;
  align-self: start;
}

.btn-action{
  margin-left: .5rem;
}

.buttonBlock div{
  font-size: 1.1rem;
}
